<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo creates by Antonio</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='baser.css') }}">
</head>
<body>
<div class="content-flexer">
    <div class="body-content">
        <header class="header_base">
            <div id='head__circ'class="methods"></div>
            <div class="head_container methods"><h4>head_block</h4></div>
            <div class="head_container methods"><h4>head_block</h4></div>
            <div class="head_container methods"><h4>head_block</h4></div>
            <div class="head_container methods"><h4>head_block</h4></div>
            <div class="head_container methods"><h4>head_block</h4></div>
        </header>
        <div class="boder_imf">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>FOOTER</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
    <script type="text/javascript">db_info = db_infoId({{db_info|tojson}})</script>
</div>
</body>
</html>