{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="body_cont_in">
        <div class="body_cont_in cont_page">
            <div class="body_cont_in list_type">
                <h1>Type add</h1>
                <div class="body_cont_in list_add lab_inp">label_add</div>
                <div class="body_cont_in list_add btn">btn_add</div>
            </div>
            <div class="body_cont_in list_todo"><h1>List all types</h1></div>
            <div class="body_cont_in list_find"><h1>FIND</h1></div>
            <div class="body_cont_in list_delete"><h1>DELETE</h1></div>
        </div>
    </div>
{% endblock %}