{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="body_cont_in">
        <div class="body_cont_in control_page">
            <form method="post" id="todo_inputer">
                <div class="body_cont_in list_type list_todo" id="inputer_todo"  style="dispaly: flex;">
                    <h1>Новый тип</h1>
                    <div class="body_cont_in list_add list_inp_Title">
                        <input type="text" maxlength="35" placeholder="TYPE TITLE" id="inP_todo" name='input_id_new'>
                    </div>

                    <button type="submit"><h1>+</h1></button>
                </div>
            </form>
            <form method="get">
                <div class="body_cont_in list_find" style="dispaly: flex;">
                    <h3>Поиск</h3>
                    <input type="text" placeholder="ID" name="input_id_find">
                    <input type="text" placeholder="TYPE" name="input_TYPE_find">
                    <button type="submit"><h3>Искать</h3></button>
                </div>
            </form>
            <div class="body_cont_in" id="list_todo" style="dispaly: flex;">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename= 'Typer.js') }}"></script>
    <script type="text/javascript">db_info = db_infoid({{db_info|tojson}})</script>
{% endblock %}